<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
   <h1>Stupid coach</h1>
   <div class="questions">
    <p><%= params[:question] %></p>
    <p class="font-italic"> -You</p>
  </div>
  <div class="answers">
    <p class ="answer"><%= @answer %></p>
    <p class="font-italic"> -Your coach</p>
  </div>
  <%= link_to "Ask another question", ask_path %>
</body>
</html>
