<h1>Stupid Coaching</h1>
<form action="answer">
  <input type="text" name="question" class="form-control" id="first-input">
  <input type="submit" value="Ask!" class="form-control" id="second-input">
</form>
